body{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.input-group-text{
    background-color: #0d6efd;
    color: white;
    border: none;
}
.input-group{
    margin-top: 10px;
}
span{
    width: 150px;
}

form{
    width: 50%;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
a{
    color: white;
    text-decoration: none;

}
a:hover{
    color: gray;
}

@media (max-width: 767.98px) {
    form{
        width: 100%;
    }
}